extends _include/layout

block title
  title Archive(Posts / Categories / Tags)

block content
  main#archive
    header
      h1
        | Archive:
        a(href="#all-posts") Posts
        | / 
        a(href="#all-categories") Categories
        | / 
        a(href="#all-tags") Tags

    section#all-posts
      h2 Posts
      for post in page.posts.toArray()
        article.post
          a(href=url_for(post.path))
            h3= post.title

    hr
 
    if site.categories
      section#all-categories
        h2 Categories
          ul.tag-box.list-unstyled
            for category in site.categories.sort('name').toArray()
              li.category
                a(href=url_for(category.path))= category.name
                  span.length= category.posts.length

    if site.tags
      section#all-tags
        h2 Tags
          ul.tag-box.list-unstyled
            for tag in site.tags.sort('name').toArray()
              li.tag
                a(href=url_for(tag.path))= tag.name
                  span.length= tag.posts.length

block pagination
  include _include/paginator