extends _include/layout

block title
  title= config.title
block content
  div#google_translate_element
  main#index
    for post in page.posts.toArray()
        article.post
          a(href=url_for(post.path))
           hgroup.title-date
            h2.title= post.title 
            time.date= post.date.format(config.date_format)
          if post.tags
            ul.tags
              | Tags:
              for tag in post.tags.toArray()
                li.tag-name
                  a(href=url_for(tag.path))= tag.name

  hr

block pagination
  include _include/paginator