extends _include/layout

block title
  title= config.title
block content
  main#index
    // div#google_translate_element
    for post in page.posts.toArray()
        article.post
          a(href=url_for(post.path))
            if post.title
              h2.title= post.title 
            else
              h2 (no title)
          time.date= post.date.format(config.date_format)
          if post.categories.length > 0
            section.category
              if post.categories.length == 1
                h3.cat-1 Category:
                - category = post.categories.toArray()[0]
                  a(href=url_for(category.path))= category.name
              else
                h3.cat-2 Categories:
                ul.categories
                  for category in post.categories.toArray()
                    li.category-name
                      a(href=url_for(category.path))= category.name
        hr

  hr

block pagination
  include _include/paginator