extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block content
  header.page
    h1= page.title
    span= page.date.format(config.date_format)
  br
  main.page!= page.content
