extends _include/layout
  
block title
    title= `${page.title} | ${config.title}`
  
block content
      article#post
        header.post
          h1.title= page.title
          time.date= page.date.format(config.date_format)
  
        br
  
        main.post!= page.content
        hr
        if page.tags
          section#tags
            h2 Tags
              ul.tag-box.list-unstyled
                - count = 0;
                for tag in page.tags.sort('name').toArray()
                  if tag.posts.length > 1
                    li.tag
                      a(href=url_for(tag.path))= tag.name
                    - count++;
                if !count
                  p= "No other common-tag post."
        if page.categories
          section#all-categories
            h2 Categories
              ul.tag-box.list-unstyled
                - count = 0;
                for category in page.categories.sort('name').toArray()
                  if category.posts.length > 1
                    li.category
                      a(href=url_for(category.path))= category.name
                    - count++;
                if !count
                  p= "No other common-category post."

  
block pagination
    include _include/paginator