extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block content
  main.post
    article.post
      header
        h1.title= page.title
        time.date= page.date.format(config.date_format)

      hr

      div.content!= page.content

      hr

block pagination
  include _include/paginator