header.included
  hgroup.title.subtitle
    h1= config.title
    p= theme.subtitle
  ul.header
    li.home: a(href=url_for("/")) Home
    li.archives: a(href=url_for("/archives/")) Posts
    li.about: a(href=url_for("/about/")) About
  form#search-container
    label(for="search-text") Enter search text:
    input#search-text(type="text" name="search-text")
    input#check-ignore-case(type="checkbox" checked)
    label(for="check-ignore-case") Ignore case
    input#check-ignore-accents(type="checkbox" checked)
    label(for="check-ignore-accents") Ignore accents
    button#submit-search Search
  div#search-result

template#search-result-container
  .search-result-container
    h2 Search result
    ul.entries

template#search-result-entry
  li.search-result-entry
    a.title
    time.date
    small.found-in Found in: 
    p(data-length=200).content
    img.thumbnail

// /search/?search=
//  form.search
//    input(type="text" id="search-text")
//    button(id="search-submit") In-site Search
//  div#google_translate_element