if page.prev || page.next
  div.paginator
    if is_post()
      if page.next
        div: a(href=url_for(page.next_link || page.next.path)) #{page.next.title} &rarr;

      if page.prev
        div: a(href=url_for(page.prev_link || page.prev.path)) &larr; #{page.prev.title}

    else
      if page.next
        div: a(href=url_for(page.next_link || page.next.path)) Next &rarr;

      if page.prev
        div: a(href=url_for(page.prev_link || page.prev.path)) &larr; Prev.