script(type='module' src="/js/analyze-data.js")
script(type='module' src="/js/search.js")
script(type='module' src="/js/search-output.js")

- const submit_search_id = "submit-search" // ; type=""}{element: "button", 
- const search_text_id = "search-text"; // type="text"}{element: "input", 
- const ignore_case_id = "ignore-case"; // type="checkbox"}{element: "input", 
- const ignore_accents_id = "ignore-accents"; // type="checkbox"}{element: "input", 
- const search_input_id = "search-input"; // type=''}{element: "div", 
- const search_result_output_id = "search-result-output"; // type=''}{element: "div", 
- const search_result_container_id = "search-result-container"; // type=''}{element: "template", 
- const search_result_entry_id = "search-result-entry"; // type=''}{element: "template", 
script(type="module").
  import {exec_search, fetchData} from "./js/analyze-data.js";
  function search() {
  const input = document.getElementById("#{search_text_id}");
  if (!input)
    throw Error(`No ${search_text_id}`);
  if (input.value) {
    console.log(`Input text is set as: "${input.value}"`);
    const ignore_case_element = document.getElementById("#{ignore_case_id}");
    if (!ignore_case_element)
      throw Error(`No ${ignore_case_id} !`);
    const ignore_case = ignore_case_element.checked ? true : false;
    console.log(`Ignore case is set as: ${ignore_case}`);
    const ignore_accents_element = document.getElementById("#{ignore_accents_id}");
    if (!ignore_accents_element)
      throw Error(`No ${ignore_accents_id} !`);
    const ignore_accents = ignore_accents_element.checked ? true : false;
    console.log(`Ignore accents is set as: ${ignore_accents}`);
    exec_search(fetchData(), input.value, {ignore_case, ignore_accents});
  }
  else
    console.log(`No input text.`);
  }
  const submit_button = document.getElementById("#{submit_search_id}");
  if (!submit_button) {
    Error(`No submit_button`);
  }
  else {
    submit_button.onclick = search;
    console.log(`submit_button.onclick is set to function search()`)
  }
  

div(id=search_input_id)
  label(for=search_text_id) Enter search text:
  input(id=search_text_id, type="text", name=search_text_id)
  input(id=ignore_case_id, type="checkbox", checked)
  label(for=ignore_case_id) Ignore case
  input(id=ignore_accents_id, type="checkbox" checked)
  label(for=ignore_accents_id) Ignore accents
  button(id=submit_search_id, onClick="search()") Search
div(id=search_result_output_id)

template(id=search_result_container_id)
  div(class=search_result_container_id)
    h2 Search result
    ul.entries

template(id=search_result_entry_id)
  li(class=search_result_entry_id)
    a.title    time.date
    small.found-in Found in: 
    p(data-length=200).content
    img.thumbnail


//- script(type='module' src="/js/search.js")
//- script(type='module' src="/js/search-input.js")

  // const search = new Search();
  // const searchInput = new SearchInput(search.search_func);